.dashboardTasks {
  margin-top: 4rem;
}

.headerCouting {
  display: flex;
  justify-content: space-between;
}

.headerCouting div {
  display: flex;
  align-items: center;
  text-align: center;

  font-size: 0.875rem;
  font-weight: bold;

  gap: 0.5rem;
}

.headerCouting div .createdTasks{
  color: var(--blue);
}

.headerCouting div .completedTasks{
  color: var(--purple);
}

.headerCouting div .coutingTasks{
  font-size: 0.75rem;
  background-color: var(--gray-400);
  color: var(--gray-200);
  padding: 0.125rem 0.5rem;
  border-radius: 999px;
}

.containerTasksList {
  
}


.containerTasksListEmpty {
  
}

.divEmptyBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border-radius: 8px;
  border-top: 1px solid var(--gray-400);
  color: var(--gray-300);
  font-size: 1rem;

  padding: 4rem 1.5rem;
  margin-top: 1.5rem;
}

.divEmptyBox img {
  height: 3.5rem;
  user-select: none;
  margin-bottom: 1rem;
}

.divEmptyBox p {
  display: flex;
  flex-direction: column;
  line-height: 1.4;
}

.divEmptyBox span {
  font-weight: bold;
}